@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #FFF;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: rgb(223, 182, 86);
}

@keyframes translateY {
  from {
    transform: translatey(0) scale(1);
  }
  to {
    transform: translatey(-8px) scale(1.1);
  }
}
.header-button {
  font-family: "Alexandria", sans-serif;
  font-weight: 800;
  border: 2px solid rgb(223, 182, 86);
  padding: 8px 24px;
  border-radius: 4px;
  color: #FFF;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid rgb(223, 182, 86);
  background-color: rgb(7, 28, 59);
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.header-logo img {
  max-width: 150px;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46px;
  }
  .header-button {
    display: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.596), #14213d), url("../assets/bg_2.jpeg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero {
  color: #FFF;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  margin-top: -200px;
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 100px;
}
.hero h2 {
  color: #dfb656;
}
.hero p {
  margin-top: -20px;
  font-weight: 800;
  text-align: center;
  margin: 2px 0;
}
.hero span {
  margin-top: -80px;
  color: #dfb656;
  display: block;
  font-family: "Antonio", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-left: 133px;
}

.button-contact {
  padding: 14px 28px;
  color: #FFF;
  background-color: transparent;
  border: 2px solid #dfb656;
  font-family: "Alexandria", sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin: 14px 0;
  border-radius: 8px;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
  background-color: rgb(7, 28, 59);
}

.button-contact-2 {
  display: flex;
  align-items: center;
  padding: 14px 28px;
  color: #FFF;
  background-color: rgb(7, 28, 59);
  border: 2px solid #dfb656;
  font-family: "Alexandria", sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin: 14px 0;
  border-radius: 8px;
  justify-content: center;
}

.button-contact-2:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-width: 60hv;
  }
  .hero h1 {
    margin-top: -200px;
    font-size: 64px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
  .hero span {
    margin-top: -50px;
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    margin-top: -20px;
  }
  .hero h1 {
    font-size: 80px;
  }
  .hero span {
    margin-top: -60px;
    font-size: 34px;
  }
}
@media screen and (max-width: 380px) {
  .hero {
    margin-top: -60px;
  }
  .hero h1 {
    margin-top: 20px;
    font-size: 80px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero span {
    font-size: 24px;
    margin-top: -70px;
  }
}
.about {
  background-color: #14213d;
  overflow: hidden;
  color: #FFF;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.about-content img {
  max-width: 570px;
  border-radius: 20px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  font-weight: 800;
  margin-bottom: 14px;
  line-height: 150%;
}
.about-description span {
  color: #dfb656;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}
.services {
  background-color: #aaa9a9;
  color: rgb(7, 28, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 14px;
}

.services-content p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  font-weight: 800;
  max-width: 780px;
}

.haircuts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}

.haircut {
  flex: -1;
  display: flex;
  flex-direction: column;
  border: 4px solid rgb(223, 182, 86);
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 5px -1px 0px 5px rgb(7, 28, 59);
  overflow: hidden;
}
.haircut img {
  width: 100%;
  max-width: 354px;
  transition: transform 0.2s;
}

.haircut img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.haircut-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: #E6E6E6;
  z-index: 99;
}

.haircut-info button {
  color: #FFF;
  background-color: rgb(7, 28, 59);
  padding: 4px 8px;
  border-radius: 4px;
  border: 2px solid rgb(223, 182, 86);
  cursor: pointer;
}

.haircut-info a {
  color: white;
}

.allServices {
  color: rgb(7, 28, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.allServices h1 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .haircuts {
    flex-direction: column;
  }
  .haircut img {
    max-width: 740px;
  }
}
.appbarber h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 14px;
}

.image-container {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 90%; /* Ajuste conforme necessário */
}

.image-container img {
  max-width: 45%; /* Ajuste conforme necessário */
  height: auto;
  margin: 0 10px; /* Espaçamento entre as imagens */
}

@media screen and (max-width: 768px) {
  .image-container img {
    max-width: 40%;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: #FFF;
}

.footer img {
  max-width: 84px;
}

.footer-icons {
  display: flex;
  gap: 8px;
  color: #FFF;
}

.texto-footer {
  text-align: center;
  text-decoration: none;
}

.texto-footer span {
  color: #dfb656;
}

.texto-footer button {
  background-color: #14213d;
  color: white;
  padding: 5px;
  margin: auto;
}

.texto-footer a {
  color: white;
}

.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: -35px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 250px;
  transition: transform 0.8s;
}
.btn-whatsapp img:hover {
  transform: scale(1.3);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -80px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: #232224;
  color: #FFF;
  opacity: 0;
  transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whatsapp img {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) and (max-width: 380px) {
  .btn-whatsapp img {
    max-width: 140px;
  }
}
body {
  font-family: "Alexandria", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #06121e;
}

p {
  font-family: "Alexandria", sans-serif;
  font-weight: 500;
}

button {
  font-family: "Alexandria", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */